h1, h2, p, form, ol {
    text-align: center;
}
body {
    background-color: brown;
}

.athlete_description {
    width: 986px;
    height: 555px;
    margin-right:auto;
    margin-left:auto;
    padding:30px;
    background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1H6gxS.img?w=986&h=555&m=4&q=89);
    background-size: 100% 100%;
    box-shadow: 5px 5px 5px 0px rgb(238, 103, 0, 0.8);
}
img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
hr {
    height:2px;
    border:none;
    margin:20px;
}
.jumpEventInquiry {
    display:block;
}